<div class="card">
    <h4 class="card-header">เข้าสู่ระบบ</h4>
    <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <label for="email">อีเมล</label>
            <div class="input-group mb-3">
                <input formControlName="email" type="email" class="form-control">
            </div>
            <label for="password">รหัสผ่าน</label>
            <div class="input-group mb-3">
                <input formControlName="password" type="password" class="form-control">
            </div>
            <button class="btn btn-success" type="submit">
                เข้าสู่ระบบ
            </button>
        </form>
    </div>

</div>