<!-- <li *ngFor="let item of todo; let i = index;">
    {{item.title}}
</li> -->
<!-- 
<p>{{output}}</p>
<div>
    <div>
        <input type="text" [(ngModel)]="input1" disabled>
        <button (click)="add()">
            +
        </button>
        <button (click)="remove()">
            -
        </button>
    </div>
    <div class="box2">
        <input type="text" [(ngModel)]="input2">
    </div>
    <div>
        <button class="ok-button" (click)="onSubmit(input1,input2)" type="submit">
            ตกลง
        </button>
    </div>
</div> -->
<!-- <input type="text" [(ngModel)]="id" (keyup)="getTodo()">
<p>
    {{todo.id}}: {{todo.title}}
</p>
<hr>
<div>
    <p>
        title
    </p>
    <input type="text" [(ngModel)]="body.title">
</div>
<div>
    <p>
        userId
    </p>
    <input type="text" [(ngModel)]="body.userId">
</div>

<button (click)="postTodo()">
    ตกลง
</button> -->

<div>
    <input type="text" name="" id="" >
    <li *ngFor="let item of todos; let i = index;">
        {{item.userId}} :
        {{item.title}}
    </li>
</div>